# Node / TypeScript
node_modules/
dist/
coverage/

# Azure Functions
.localsettings.json
local.settings.json
func.zip
func-full.zip
deploy-backend*.zip

# Logs
npm-debug.log*
yarn-error.log*

# VS Code
.vscode/
