<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%HOME%\SiteExtensions\Functions\4.0.1\64bit\Functions.exe"
                arguments="--script-root %HOME%\site\wwwroot --enableAuth"
                stdoutLogEnabled="false"
                stdoutLogFile="%HOME%\LogFiles\Functions\stdout" />
  </system.webServer>
</configuration>
